<header>
    <h1>Tiny App</h1>
    <% if (!user) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } else { %>
    <h2>
        <%=user.id%>
    </h2>
    <form method="POST" action="/logout">
        <input type="submit" value="Logout">
        </form>
    <% } %>


    
  
</header>