<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>
    <ul>
    <% for (var url in urls){ %>
        <li>
            <div><%= url %>  (<%= urls[url] %>)
            </div>
            <div>
            <a href="/urls/<%= url %>"><button>Edit</button></a>
        </div>   
        <div>    
        <form method="POST" action="/urls/<%= url %>/delete">
                <input type="submit" value="Delete">
            </form>
        </div>
        </li>
    <% } %>
    </ul>


    

    <a href="#">Create new short link</a>
</body>
</html>