<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    
        <h1><%= shortURL %></h1>
        <h2><%= longURL %></h2>

   
</body>
</html>